asgiref
Django
Pillow
sqlparse
git+https://github.com/python-social-auth/social-app-django.git@20fabcd7bd9a8a41910bc5c8ed1bd6ef2263b328
git+https://github.com/django-extensions/django-extensions.git@25a41d8a3ecb24c009c5f4cac6010a091a3c91c8
werkzeug
pyOpenSSL
requests
easy-thumbnails
django-debug-toolbar
redis
